html{
    background: #179bd7;
}
* {
    /* Ensure that the text in game cannot be highlighted */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */	
}


/*--------------------------------------------------------------------------
                BEGIN - Global Panels
--------------------------------------------------------------------------*/
#game_container{
    justify-content: center;
}
#game_container .centered_table{
    align-items: start;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Players Pannels
------------------------------------------------------------------------------*/
.player_counters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-content: flex-start;
}
.player_counters .player_conter_item:before{
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.player_counters .playerhand_counter:before{
    background-image: url("img/icons/cards.svg");
    margin-right: 5px;
}
.player_counters .playerstudies_counter:before{
    background-image: url("img/icons/studies.svg");
    margin-right: 5px;
    background-size: 160%;
    background-position: -10px 50%;
}
.player_counters .playerwage_counter:before{
    background-image: url("img/icons/wages.svg");
    background-size: 300%;
    background-position: -30px 50%;
}
.player_counters .player_conter_item{
    display: flex;
    flex-wrap: nowrap;
}
.player_counters .player_conter_item *{
    display: flex;    
    align-content: space-around;
    flex-wrap: wrap;
}

.player-board .card_none{
    height: 0px;
    width: 0px;
    background: none !important;
}

/*-----------------------------------------------------------------------------
                 BEGIN - My Table
------------------------------------------------------------------------------*/
.pile_container.pile_job:before,
.pile_container.pile_love:before{
    content: '▲';
    font-size: 1.4em;
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -0.5em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    color: white;
}
#mytable_wrap{
    margin-top: 0;
    align-items: center;
    background: rgb(255 255 255 / 40%);
    border: 2px solid white;
    border-radius: 5px;
    padding: 0;
    min-width: 720px;
}

#mytable_wrap #myhand,
#mytable_wrap #mytable{
    display: flex;
}

#mytable_wrap #mytable{
    display: grid;
    justify-content: center;
}

#mytable_wrap #myhand > div,
#mytable_wrap #mytable > div,
#tables .playertable .playertablecard > div{
    margin: 5px;
    margin-bottom: 10px;
    position: relative;
}

#mytable_wrap .info_table{
    background: white;
    height: 20px;
    padding: 5px;
    text-align: center;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Deck & Discard
------------------------------------------------------------------------------*/
#deck_and_discard {
    /*    align-items: center;
        
        justify-content: center;
    flex-direction: row;*/
    display: flex;
    background: rgb(160 211 233 / 40%);
    border: 2px solid #a1d7ef;
    border-radius: 5px;
    padding: 5px;
    /*padding-bottom: 20px;*/
}
#deck_and_discard > div{
    margin: 5px;
    position: relative;
}
#deck_and_discard > div:first-child{
    margin-bottom: 30px;
}
.cards_stack .pile_counter {
    bottom: -18px;
    color: #e0ffff;
    font-size: 80%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Modales
------------------------------------------------------------------------------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    text-align: center
}
.modal-overlay .modal-content {
    padding: 0px;
    border-radius: 5px;
    background:#fff;
    min-width: 25%;
    max-width: 70%;
    min-height: 30%;
    max-height: 80%;
    box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 44%);
}
.modal-overlay .bgabutton_gray{
    /*background-color: #d8d8d833;*/
    border:0;
}
.modal-overlay .bgabutton_gray:hover{
    background-color: #d8d8d866;
}

.modal-overlay .modal-header{
    border-radius: 5px 5px 0 0;
    background:#179bd7;
    border-bottom: 1px solid #ffffff33;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-overlay .modal-header .modal-title{
    color: #fff;
    margin-left: 5px;
}
.modal-overlay .modal-header .modal-close{
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}
.modal-overlay .modal-header .modal-close a{
    border-radius: 50%;
    margin: 0;
    margin-bottom: 5px;
}
.modal-overlay .modal-body{
    padding: 10px 0;
}
.modal-overlay .modal-body a{
    margin: 5px 5px;
}
.target_selection {
    display: inline-block;
    text-align: center;
}
.modal-selection{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.target_selection > div {
    display: flex;
    flex-direction: column;
}
.target_selection > div .cardontable:not(:first-child){
    margin-top: -50%
}
.target_selection:not(:last-child) {
    margin-right: 10px;
}

.target_stats_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #0000001f;
    color: white;
    border-radius: 10px;
}

.target_stats_list_item {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 5px; 
    margin-top: 5px; 
}
.target_stats_list_item .wage_value{
    background-image: url("img/icons/wages.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: -20px;
    background-position-x: -15px;
}

.target_stats_list_item .studie_value{
    background-image: url("img/icons/studies.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 0px;
    background-position-y: -10px;
    padding-left: 30px;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Tables
------------------------------------------------------------------------------*/
#tables{
    margin-top:10px;
    display: grid;
    align-items: center;
    gap:20px;
    align-items: stretch;
}
#tables .playertable{
    margin: 0;
    border-radius: 5px;
    padding: 0;
    border: 2px solid white;
}
@media  (min-width: 1500px){
    #tables .playertable:nth-child(2n){
        grid-column: 2;
    }
    #tables .playertable:nth-child(2n+1){
        grid-column: 1;
    }
}
#tables .playertable .playertablecard{
    display: grid;
}
#tables .playertable .playertablename{
    background: white;
    text-align: center;
    border-radius: 0;
    padding: 5px;
}
#tables .playertable .playertablecard > div:nth-child(4n+1){
    grid-column: 1;
}
#tables .playertable .playertablecard > div:nth-child(4n+2){
    grid-column: 2;
}
#tables .playertable .playertablecard > div:nth-child(4n+3){
    grid-column: 3;
}
#tables .playertable .playertablecard > div:nth-child(4n+4){
    grid-column: 4;
}

#tables .playertable #myhand{
    justify-content: space-around;
    align-content: space-around;
}

/*--------------------------------------------------------------------------
                BEGIN - Pile
--------------------------------------------------------------------------*/

.pile_container .pile{
    padding: 0px;
}
.pile_container .pile_info,
.pile_container .pile_counter
{
    font-size: 12px;
    text-align: center;
    color: white;
}
#deck_and_discard .pile_container .pile_counter{
    padding-top: 5px;
}
.player_tables .pile_container .pile{
    position: relative;
    padding-bottom: 5px;
    padding-right:5px;
}
.pile_container .pile .cardontable{
    position: absolute;
}
.pile_deck {
    position: relative;
    height: 0;
}
.player_tables .pile_container .pile_counter{
    width: 100%;
}
.pile_job,
.pile_wage{
    border: 2px solid #179bd7;
    border-radius: 5px;
}
.pile_love,
.pile_child{
    border: 2px solid #c70580;
    border-radius: 5px;
}
.pile_acquisition{
    border: 2px solid #47a736;
    border-radius: 5px;
}
.pile_attack{
    border: 2px solid #a73636;
    border-radius: 5px;
}
.pile_bonus{
    border: 2px solid transparent;
}
.pile_job .pile_info,
.pile_job .pile_counter,
.pile_wage .pile_info,
.pile_wage .pile_counter{
    background: #179bd7;
}
.pile_love .pile_info,
.pile_love .pile_counter,
.pile_child .pile_info,
.pile_child .pile_counter{
    background: #c70580;
}
.pile_acquisition .pile_info,
.pile_acquisition .pile_counter{
    background: #47a736;
}
.pile_attack .pile_info,
.pile_attack .pile_counter{
    background: #a73636;
}
.pile_special{
    border: 2px solid #878787;
    border-radius: 5px;
}
.pile_special .pile_info,
.pile_special .pile_counter{
    background: #878787;
}
.pile_adultery{
    border: 2px solid black;
    border-radius: 5px;
}
.pile_adultery .pile_info,
.pile_adultery .pile_counter{
    background: black;
}
#pile_discard{
    border-radius: 4px;
    box-shadow: none !important;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, black 40px, black 80px);
    background-image: repeating-linear-gradient(-45deg, transparent 0 40px, #ffffff40 40px 80px);
}
#pile_offside{
    border-radius: 4px;
    box-shadow: none !important;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 40px, black 40px, black 80px);
    background-image: repeating-linear-gradient(-45deg, transparent 0 40px, #ffffff40 40px 80px);
}
/*--------------------------------------------------------------------------
                BEGIN - CARD Standard
--------------------------------------------------------------------------*/

.cardontable {
    position: relative;
    display: block;
    float: left;
    box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 44%);
}
.cardontable[data-category="attack"].usedcard,
.cardontable[data-category="special"].usedcard
{
    filter: grayscale(100%);
}
.cardontable.actionrequired{
    filter: invert(50%);
}


.cardontable[data-type="40"].usedcard::after,
.cardontable[data-type="38"].usedcard::after,
.cardontable[data-type="40"].usedcard::before,
.cardontable[data-type="38"].usedcard::before{
    content: '';
    position: absolute;
    background-color: #000;
    transform-origin: center center;
}
.cardontable[data-type="40"].usedcard::after,
.cardontable[data-type="38"].usedcard::after{
    transform: rotate(45deg);
}
.cardontable[data-type="40"].usedcard::before,
.cardontable[data-type="38"].usedcard::before{
    transform: rotate(-45deg);
}
.cardontable.movedcard{
    z-index: 10;
}
.cardontable.selectable{
    cursor: pointer;
    border: 2px solid white;
}
.cardontable.selected{
    cursor: pointer;
    border: 2px dashed #878787;
    box-shadow: 2px 4px 2px 2px rgb(0 0 0 / 44%);
}
.card_none.cardontable {
    background-image: none !important;
    box-shadow: none;
}
.card_none.cardontable *{
    display: none;
}
.cardontable .card_text{
    display: block;
    text-align: center;
}
.card_title,
.cardontable[data-category="wage"] .card_text1,
.cardontable[data-category="flirt"] .card_text1, .cardontable[data-category="flirt"] .card_text2,
.cardontable[data-category="house"] .card_text1, .cardontable[data-category="house"] .card_text2,
.cardontable[data-category="studies"] .card_text2,
.cardontable[data-category="child"] .card_text1,
.cardontable[data-category="travel"] .card_text1,
.cardontable[data-category="job"] .card_subtitle,.cardontable[data-category="job"] .card_text2,
.cardontable[data-category="powered_job"] .card_subtitle,.cardontable[data-category="powered_job"] .card_text2,
.cardontable[data-category="official_job"] .card_subtitle,.cardontable[data-category="official_job"] .card_text2,
.cardontable[data-category="special"] .card_text1
{
    font-weight: bold;
}
.cardontable[data-category="studies"] .card_title, .cardontable[data-category="studies"] .card_text2,
.cardontable[data-category="wage"] .card_title, .cardontable[data-category="wage"] .card_text1,
.cardontable[data-category="job"] .card_subtitle,
.cardontable[data-category="powered_job"] .card_subtitle,
.cardontable[data-category="official_job"] .card_subtitle,
.cardontable[data-category="official_powered_job"] .card_subtitle,
.cardontable[data-category="temporary_powered_job"] .card_subtitle,
.cardontable[data-category="temporary_job"] .card_subtitle,
.cardontable[data-category="attack"] .card_title, .cardontable[data-category="attack"] .card_text1
{
    color: white;
    text-transform: uppercase;
}
.cardontable[data-category="adultery"] .card_text,
.cardontable[data-category="special"] .card_text1, 
.cardontable[data-category="special"] .card_title,
.cardontable[data-category="child"] .card_text1,
.cardontable[data-category="powered_job"] .card_text1,
.cardontable[data-category="temporary_powered_job"] .card_text1,
.cardontable[data-category="official_powered_job"] .card_text1,
.cardontable[data-name="freedommedal"] .card_title{
    color: white;
}
.cardontable[data-category="marriage"] .card_title,
.cardontable[data-category="child"] .card_title,
.cardontable[data-category="flirt"] .card_title{
    color: #c0171c;
}
.cardontable[data-category="flirt"] .card_title{
    text-transform: uppercase;
}

.cardontable[data-category="flirt"] .card_text1,
.cardontable[data-category="flirt"] .card_text2{
    color: #e89d9f;
}

.cardontable[data-category="house"] .card_text2{
    color:#bb5ea9;
}
.cardontable[data-category="house"] .card_title{
    color:#ca4e23;
    text-align: right;
}
.cardontable[data-category="travel"] .card_subtitle{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
    white-space : nowrap;
}
.cardontable[data-name="riodejaneiro"] .card_subtitle{
    color: #fcea1e;
}
.cardontable[data-name="london"] .card_subtitle{
    color: #a32026;
}
.cardontable[data-name="sydney"] .card_subtitle{
    color: #fce53c;
}
.cardontable[data-name="newyork"] .card_subtitle{
    color: #f5e933;
}
.cardontable[data-name="cairo"] .card_subtitle{
    color: #e4a600;
}
.cardontable[data-category="attack"] .card_text1{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.cardontable[data-name="grandprofessor"] .card_text1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}
.cardontable[data-category="adultery"] .card_text1{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.cardontable[data-name="researcher"] .card_text1{
    color: black;
}
.cardontable[data-name="policeman"] .card_subtitle,
.cardontable[data-name="policeman"] .card_text1{
    color: white;
}
/*-----------------------------------------------------------------------------
            BEGIN - Debug
------------------------------------------------------------------------------*/
.debug{
    display: none;
    min-width: 30px;
    background: greenyellow;
    border: 3px black solid;
    margin: 5px 0;
    top:-20px;
    /*    z-index: 99;*/
    width: 100%;
    position: absolute;
}