html{
    background: #179bd7;
}
* {
    /* Ensure that the text in game cannot be highlighted */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */	
}


/*--------------------------------------------------------------------------
                BEGIN - Global Panels
--------------------------------------------------------------------------*/
#game_container{
    justify-content: center;
}
#game_container .centered_table{
    align-items: start;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
}
/*-----------------------------------------------------------------------------
                 BEGIN - My Table
------------------------------------------------------------------------------*/
#mytable_wrap{
    margin-top: 0;
    align-items: center;
    background: rgb(255 255 255 / 40%);
    border: 2px solid white;
    border-radius: 5px;
    padding: 0;
    min-width: 720px;
}

#mytable_wrap #myhand,
#mytable_wrap #mytable{
    display: flex;
}

#mytable_wrap #mytable{
    display: grid;
    justify-content: center;
}

#mytable_wrap #myhand > div,
#mytable_wrap #mytable > div,
#tables .playertable .playertablecard > div{
    margin: 5px;
    position: relative;
}

#mytable_wrap .info_table{
    background: white;
    height: 20px;
    padding: 5px;
    text-align: center;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Deck & Discard
------------------------------------------------------------------------------*/
#deck_and_discard {
    /*    align-items: center;
        
        justify-content: center;
    flex-direction: row;*/
    display: flex;
    background: rgb(160 211 233 / 40%);
    border: 2px solid #a1d7ef;
    border-radius: 5px;
    padding: 5px;
    /*padding-bottom: 20px;*/
}
#deck_and_discard > div{
    margin: 5px;
    position: relative;
}
#deck_and_discard > div:first-child{
    margin-bottom: 30px;
}
.cards_stack .pile_counter {
    bottom: -18px;
    color: #e0ffff;
    font-size: 80%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/*-----------------------------------------------------------------------------
                 BEGIN - Tables
------------------------------------------------------------------------------*/
#tables{
    margin-top:10px;
    display: grid;
    align-items: center;
    gap:20px;
    align-items: stretch;
}
#tables .playertable{
    margin: 0;
    border-radius: 5px;
    padding: 0;
    border: 2px solid white;
}
@media  (min-width: 1500px){
    #tables .playertable:nth-child(2n){
        grid-column: 2;
    }
    #tables .playertable:nth-child(2n+1){
        grid-column: 1;
    }
}
#tables .playertable .playertablecard{
    display: grid;
    justify-content: space-around;
}
#tables .playertable .playertablename{
    background: white;
    text-align: center;
    border-radius: 0;
    padding: 5px;
}
#tables .playertable .playertablecard > div:nth-child(4n+1){
    grid-column: 1;
}
#tables .playertable .playertablecard > div:nth-child(4n+2){
    grid-column: 2;
}
#tables .playertable .playertablecard > div:nth-child(4n+3){
    grid-column: 3;
    /*grid-row: 2;*/
}
#tables .playertable .playertablecard > div:nth-child(4n+4){
    grid-column: 4;
    /*grid-row: 2;*/
}

#tables .playertable #myhand{
    justify-content: space-around;
    align-content: space-around;
}
/*#tables .playertable #myhand > div:nth-child(3n+1){
    grid-column: 1;
}
#tables .playertable #myhand > div:nth-child(3n+2){
    grid-column: 2;
}
#tables .playertable #myhand > div:nth-child(3n+3){
    grid-column: 3;
}*/
/*--------------------------------------------------------------------------
                BEGIN - Pile
--------------------------------------------------------------------------*/

.pile_container .pile{
    padding: 5px;
}
.pile_container .pile_info,
.pile_container .pile_counter
{
    font-size: 12px;
    text-align: center;
    color: white;
}
.pile_job,
.pile_wage{
    border: 2px solid #179bd7;
    border-radius: 5px;
}
.pile_love,
.pile_child{
    border: 2px solid #c70580;
    border-radius: 5px;
}
.pile_aquisition{
    border: 2px solid #47a736;
    border-radius: 5px;
}
.pile_attack{
    border: 2px solid #a73636;
    border-radius: 5px;
}
.pile_bonus{
    border: 2px solid transparent;
}
.pile_job .pile_info,
.pile_job .pile_counter,
.pile_wage .pile_info,
.pile_wage .pile_counter{
    background: #179bd7;
}
.pile_love .pile_info,
.pile_love .pile_counter,
.pile_child .pile_info,
.pile_child .pile_counter{
    background: #c70580;
}
.pile_aquisition .pile_info,
.pile_aquisition .pile_counter{
    background: #47a736;
}
.pile_attack .pile_info,
.pile_attack .pile_counter{
    background: #a73636;
}
/*--------------------------------------------------------------------------
                BEGIN - CARD Standard
--------------------------------------------------------------------------*/
#card_empty{
    border: 2px dashed black;
    background: none !important;
    box-shadow: none !important;
}
.cardontable {
    position: relative;
    display: block;
    float: left;
    box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 44%);
}

.cardontable .card_text{
    display: block;
    text-align: center;
}
.card_title,
.cardontable[data-category="wage"] .card_text1,
.cardontable[data-category="flirt"] .card_text1, .cardontable[data-category="flirt"] .card_text2,
.cardontable[data-category="house"] .card_text1, .cardontable[data-category="house"] .card_text2,
.cardontable[data-category="studies"] .card_text2,
.cardontable[data-category="child"] .card_text1,
.cardontable[data-category="travel"] .card_text1,
.cardontable[data-category="job"] .card_subtitle,.cardontable[data-category="job"] .card_text2,
.cardontable[data-category="powered_job"] .card_subtitle,.cardontable[data-category="powered_job"] .card_text2,
.cardontable[data-category="official_job"] .card_subtitle,.cardontable[data-category="official_job"] .card_text2,
.cardontable[data-category="special"] .card_text1
{
    font-weight: bold;
}
.cardontable[data-category="studies"] .card_title, .cardontable[data-category="studies"] .card_text2,
.cardontable[data-category="wage"] .card_title, .cardontable[data-category="wage"] .card_text1,
.cardontable[data-category="job"] .card_subtitle,
.cardontable[data-category="powered_job"] .card_subtitle,
.cardontable[data-category="official_job"] .card_subtitle,
.cardontable[data-category="temporary_job"] .card_subtitle,
.card_attack .card_title, .card_attack .card_text1
{
    color: white;
    text-transform: uppercase;
}
.card_adultery .card_text,
.cardontable[data-category="special"] .card_text1, .cardontable[data-category="special"] .card_title,
.cardontable[data-category="child"] .card_text1,
.cardontable[data-category="powered_job"] .card_text1,
.card_freedommedal .card_title{
    color: white;
}
.card_wedding .card_title,
.cardontable[data-category="child"] .card_title,
.cardontable[data-category="flirt"] .card_title{
    color: #c0171c;
}
.cardontable[data-category="flirt"] .card_title{
    text-transform: uppercase;
}

.cardontable[data-category="flirt"] .card_text1,
.cardontable[data-category="flirt"] .card_text2{
    color: #e89d9f;
}

.cardontable[data-category="house"] .card_text2{
    color:#bb5ea9;
}
.cardontable[data-category="house"] .card_title{
    color:#ca4e23;
    text-align: right;
}
.cardontable[data-category="travel"] .card_subtitle{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
    white-space : nowrap;
}
.card_riodejaneiro .card_subtitle{
    color: #fcea1e;
}
.card_london .card_subtitle{
    color: #a32026;
}
.card_sydney .card_subtitle{
    color: #fce53c;
}
.card_newyork .card_subtitle{
    color: #f5e933;
}
.card_cairo .card_subtitle{
    color: #e4a600;
}
.card_attack .card_text1{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.cardontable[data-name="grandprofessor"] .card_text1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}
.card_adultery .card_text1{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

/*-----------------------------------------------------------------------------
            BEGIN - Debug
------------------------------------------------------------------------------*/
.debug{
    display: block;
    min-width: 30px;
    background: greenyellow;
    border: 3px black solid;
    margin: 5px 0;
    z-index: 99;
    width: 100%;
    position: absolute;
}