html{
    background: #179bd7;
}
* {
    /* Ensure that the text in game cannot be highlighted */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */	
}


/*--------------------------------------------------------------------------
                BEGIN - All Panels
--------------------------------------------------------------------------*/
#game_container{
    justify-content: center;
}
#game_container .centered_table{
    align-items: start;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
}
#deck_and_discard {
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgb(160 211 233 / 40%);
    border: 2px solid #a1d7ef;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 20px;
}
#mytable_wrap{
    margin-top: 0;
    align-items: center;
    background: rgb(255 255 255 / 40%);
    border: 2px solid white;
    border-radius: 5px;
    padding: 0;
}
#deck_and_discard > div{
    display: inline-block;
    margin: 5px;
    position: relative;
}
#mytable_wrap #myhand,
#mytable_wrap #mytable,
#tables{
    display: flex;
}
#mytable_wrap #myhand > div,
#mytable_wrap #mytable > div,
#tables .playertable .playertablecard > div{
    display: inline-block;
    margin: 5px;
    position: relative;
}

/*-----------------------------------------------------------------------------
                 BEGIN - Deck & Discard
------------------------------------------------------------------------------*/
.cards_stack .pile_counter {
    bottom: -18px;
    color: #e0ffff;
    font-size: 80%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/*-----------------------------------------------------------------------------
                 BEGIN - My Hand
------------------------------------------------------------------------------*/
#mytable_wrap .info_table{
    background: white;
    height: 20px;
}

/*-----------------------------------------------------------------------------
            BEGIN - Debug
------------------------------------------------------------------------------*/
.debug{
    display: block;
    min-width: 30px;
    background: greenyellow;
    border: 3px black solid;
    margin: 5px 0;
    z-index: 99;
    width: 100%;
    position: absolute;
}